{{ text_greeting }}

{{ text_change }}

{{ reset }}

<table style="border-collapse: collapse; width: 100%;"  class="table top">
			<tr>
				<td colspan="3">
					<hr>							  
				</td>
			</tr>
		<tr>
		  <td valign="top">Obsthof am Steinberg<br>
			  Inh.: Andreas Schneider<br>
			  Am Steinberg 24<br>
			  60437 Frankfurt/Nieder-Erlenbach
		  </td>
		  <td valign="top">
			  Deutsche Kreditbank<br>
			  Kto.: 1020 4280 64 / BLZ: 120 300 00<br>
			  IBAN: DE40 1203 0000 1020 4280 64<br>
			  BIC: BYLADEM1001<br>
			  USt-IdNr.: DE216963084
		  </td>
		  <td valign="top">
			  Tel.: 06101 – 41522<br>
			  Fax: 06101 – 497484<br>
			  info@obsthof-am-steinberg.de
		  </td>
		</tr>
</table>